.dark {
  color: black;
  background-color: black;
}

h4 {
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

body {
  background-color: ;
}

h5 {
  font-size: 30px;
}

p, h1, h2, h3, h4, h5, h6, li, label, input, select{
  font-family: 'Roboto Mono', monospace;
}
